{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "My Trigger" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="col-md-12" id="trigger-content">
        <h3>{% trans 'Edition of your trigger' %} {{ context.description }}</h3>
        <form method="post" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
            <div class="control-group">
                <label class="control-label" for="id_tag">{% trans 'Tag' %}</label>
                <div class="controls">
                {{ form.tag.errors }}
                {{ form.tag }}
                </div>
            </div>        
            <div class="form-actions">
                <input type="hidden" name="trigger_id" value="{{ trigger_id }}" />
                <button class="btn btn-primary">{% trans "Save it" %}</button>
            </div>
        </form>
    </div> 
{% endblock %}